# Preprocessing

In [3]:
# import lybraris
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [17]:
tot = pd.read_csv('./season5/c_data.csv',header=1)

In [18]:
tot.head()

   1  CountryName CountryCode Population growth Total population Area (sq. km)
0  2       Brazil         BRA       0.817555711        207652865       8358140
1  3  Switzerland         CHE       1.077221168          8372098         39516
2  4      Germany         DEU       1.193866758         82667685        348900
3  5      Denmark         DNK       0.834637611                ?         42262
4  6        Spain         ESP      -0.008048086         46443959        500210

In [19]:
tod = tot.copy()

In [20]:
tod.rename(columns={
    'CountryName':'Name',
    'CountryCode':'Code',
    'Population growth':'Pop',
    'Total population':'T_Pop',
    'Area (sq. km)':'Area'
},inplace=True)

In [21]:
tod.head()

   1         Name Code           Pop      T_Pop     Area
0  2       Brazil  BRA   0.817555711  207652865  8358140
1  3  Switzerland  CHE   1.077221168    8372098    39516
2  4      Germany  DEU   1.193866758   82667685   348900
3  5      Denmark  DNK   0.834637611          ?    42262
4  6        Spain  ESP  -0.008048086   46443959   500210